.container {
    max-width: 1000px;
    margin: 0 auto;
}

.col-3 {
    width: 24%;
    display: inline-block;
}

.col-9 {
    width: 75%;
    display: inline-block;
}



.fa {
    font-size: 60px;
    position: relative;
    color: rgba(5060, 70, 130, 120);
}

.fa:hover {
    font-size: 60px;
    position: relative;
    color: rgba(50, 50, 50, 50);
}

.text-center {  text-align: center; }

footer {
    min-height: 800px;
}